.user{
    float: right;
    text-align: right;
    display: block;
    background-color: #114673;
    border-radius: 8px;
    margin:0px;
}

.buddy{
    float: left;
    text-align: left;
    display: block;
    background-color: #1A69AC;
    border-radius: 8px;
    margin:0px;
}
.window{
   
    color:white;
    display: block;
}
.block{
    width: 100%;
}
