<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="wifi"></ion-icon><strong> Online</strong></ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row >
            <ion-col col-3 offset-6 text-center >
                <ion-spinner *ngIf="!loaded" name="bubbles" color="primary"></ion-spinner>
              </ion-col>
        </ion-row>
        </ion-grid>
   
  <ion-list *ngFor="let user of users">
    <ion-button id="{{user.userEmail}}" class="col-lg-12" (click)="openChatWindow($event)">
    
      <img src="assets/icon/online.png" height="12px" width="12px">{{user.username}}
   
  </ion-button>
    </ion-list>
</ion-content>
