<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="messages">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Online</ion-label>
      <ion-badge>{{online}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>
</ion-tabs>